<template>
  <header class='w-full flex justify-center items-center h-20 dark:bg-gray-700'>
    <h1 class='font-semibold text-3xl dark:text-green-500 text-gray-700'>
      Динамический компонент списка
    </h1>
  </header>
</template>

<script>
export default {
  name: 'Navbar'
}
</script>
